{% if site.github.url %}
  {% assign url_base = site.github.url %}
{% else %}
  {% assign url_base = / %}
{% endif %}
<!-- jQuery -->
<script src="{{ url_base }}/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ url_base }}/js/bootstrap.min.js"></script>

<!-- Cookie Consent -->
<script type="text/javascript" id="cookieinfo" src="/js/cookieinfo.min.js" data-bg="#333" data-fg="#FFFFFF" data-divlinkbg="#ff4900" data-divlink="#ddd" data-link="#66A5D6" data-linkmsg="Privacy Policy" data-moreinfo="/privacy.html" data-cookie="CookieInfoScript" data-text-align="left" data-close-text="OK">
</script>

{% include pagescript.html %}
